<div class="container mt-5">
    <h2>Add Product</h2>
    <form action="/admin/add-book" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="exampleFormControlInput1" class="font-weight-bold">Title</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" name="Title">
            <label for="exampleFormControlInput1" class="font-weight-bold">Author</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" name="Author">
            <label for="exampleFormControlInput1" class="font-weight-bold">Price</label>
            <input type="number" class="form-control" id="exampleFormControlInput1" name="Price">
            <label for="exampleFormControlFile1" class="font-weight-bold">Image</label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1" name="Image">
            <label for="exampleFormControlTextarea1" class="font-weight-bold">Description</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="Description"></textarea>
            <button type="submit" class="btn btn-primary mt-3">Submit</button>
        </div>
    </form>
</div>