<section>
    <div class="container">
        <div class="row mt-2">
            <a href="/admin/add-book" class="btn btn-primary ml-auto">Add Book</a>
        </div>
        <table class="table table-light mt-2">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th scope="col">Price</th>
      <th scope="col">Image</th>

    </tr>
  </thead>
  <tbody>
    {{#each bookList}}
    <tr>
      <td>{{this.Title}}</td>
      <td>{{this.Author}}</td>
      <td>{{this.Price}}</td>
      <td><img style="width:50px; height:75px;" src="/book-images/{{this._id}}.jpg" alt=""></td>
    </tr>
    {{/each}}
  </tbody>
</table>
    </div>
</section>