    <!-- just the unique stuffs of index(i.e the userpage) page('/') will be here all the general things will be in layout.
    Partials are for reusing the same template for different purposes(like navbar with small changes for user and admin)-->
    <section>
        <div class="container mt-5">
            <div class="row">
                {{#each books}}
                <div class="col-md-3">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src={{this.img}}>
                        <div class="card-body">
                            <h5 class="card-title">{{this.name}}</h5>
                            <h6>{{this.author}}</h6>
                            <p class="card-text">{{this.price}}</p>
                            <a href="#" class="btn btn-primary">Buy Now</a>
                            <a href="#" class="btn btn-primary">Add To Cart</a>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </section>
